//Media queries
$mini:              0;
$mobLandscape:      320px;
$smallTablet:       480px;
$tablet:            640px;
$tabletLandscape:   768px;
$laptop:            1024px;
$desktop:           1200px;
$elephant:          1600px;

//Colors