/*
	Rows and columns
*/


section {
	margin-top: 10px;
	margin-bottom: 10px;
	@include span(full);
}

.row {
	@include span(full);

	.stories & {
		margin-bottom: gutter();
	}
}

.col2 {
	@include span(6 of 12);

	.no-gutter & {
		@include span(6 of 12 0);
		margin-right: 0;
	}

	&.last {
		@extend %extend_last;
	}
	@extend %extend_padding;
	@extend .dev-bg;
}




.col4-move4 {
	@include span(isolate 3 at 4);
	@extend .dev-bg;
}

.col4-move7 {
	@include span(isolate 3 at 7);
	@extend .dev-bg;
}





