// Default: Content Left and aside Right
.content {
	@include span(12 split);
	@extend %extend_padding;

	@include susy-breakpoint($tabletLandscape) {
		@include span(8 of 12 split);
		.two-col-reversed & {
			@include span(8 of 12 split);
			float: right;
		}
	}

	@include susy-breakpoint($laptop) {
		@include span(9 of 12 split);
		.two-col-reversed & {
			@include span(9 of 12 split);
			float: right;
		}
	}

	@extend .dev-bg;
}

aside {
	@include span(12 split);
	@extend %extend_padding;

	@include susy-breakpoint($tabletLandscape) {
		@include span(4 of 12 split);
		.two-col-reversed & {
			@include span(4 of 12 split);
			float: left;
		}
	}

	@include susy-breakpoint($laptop) {
		@include span(3 of 12 split);
		.two-col-reversed & {
			@include span(3 of 12 split);
			float: left;
		}
	}

	@extend .dev-bg;
}

// two col no gutter 50/50
.two-col-no-gutter div {
	margin:0;
	width: 50%;
	float: left;

	@extend %extend_padding;
	@extend .dev-bg;
}