// Default: Content Left and aside Right
.content {
	@include span(12);
	@extend %extend_padding;

	@include susy-breakpoint($tabletLandscape) {
		@include span(7 of 12 first);
		.two-col-reversed & {
			@include span(7 of 12 last);
		}
	}
	@include susy-breakpoint($desktop) {
		@include span(8 of 12 first);
		.two-col-reversed & {
			@include span(8 of 12 last);
		}
	}

	@extend .dev-bg;
}

aside {
	@include span(12);
	@extend %extend_padding;


	@include susy-breakpoint($tabletLandscape) {
		@include span(5 of 12 last);
		.two-col-reversed & {
			@include span(5 of 12 first);
		}
	}
	@include susy-breakpoint($desktop) {
		@include span(4 of 12 last);
		.two-col-reversed & {
			@include span(4 of 12 first);
		}
	}

	@extend .dev-bg;
}

// Reversed: Content Right and aside Left
.content-right {
	@include span(12);
	@extend %extend_padding;


	@include susy-breakpoint($tabletLandscape) {
		@include span(7 of 12 last);
	}
	@include susy-breakpoint($desktop) {
		@include span(8 of 12 last);
	}

	@extend .dev-bg;
}

aside.left {
	@include span(12);
	@extend %extend_padding;

	@extend .dev-bg;

	@include susy-breakpoint($tabletLandscape) {
		@include span(5 of 12 first);
	}
	@include susy-breakpoint($desktop) {
		@include span(4 of 12 first);
	}

	@extend .dev-bg;
}


// two col no gutter 50/50
.two-col-no-gutter div {
	margin:0;
	width: 50%;
	float: left;
	//@include span(6 of 12);
	//$map: (gutter: 0);

	//@include span(6 of 12 split 0);
	/*&:first-child {
		@include span(first 6 of 12);
	}
	&:last-child {
		@include span(last 6 of 12);
	}*/


	/*&:last-child {
		@extend %extend_last;
	}*/
	@extend %extend_padding;
	@extend .dev-bg;
}